{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
            CRUD-APP
        {% endblock %}
    </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    {% block extra_head%}
    {% endblock %}
</head>
<body>
    {%include "navbar.html" %}
    {% block content %}
        <h1>Welcome to my crudapp<h1>
    {% endblock %}
</body>
</html>