{% extends 'base.html' %}
{% block content %}
  <div class="wrapper">
    {% if user.is_authenticated %}
      <h1>Welcome Back</h1>
    {% else %}
      <h1>Login</h1>
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="input-box">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username" required />
        </div>
        <div class="input-box">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" required />
        </div>
        <div class="remember">
          <label>
            <input type="checkbox" /> Remember me?
            <a href="#">Forgot Password</a>
          </label>
        </div>
        <button type="submit">Login</button>
        <div class="register">
          <p>Don't have an account? <a href="#">Register</a></p>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
