{% extends 'base.html' %}
{% block content %}
  <div class="wrapper">
    {% if user.is_authenticated %}
      <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Class</th>
            <th scope="col">Phone</th>
            <th scope="col">Address</th>
            <th scope="col">State</th>
            <th scope="col">City</th>
            <th scope="col">Created_at</th>
            <th scope="col">ID</th>
          </tr>
        </thead>
        <tbody>
            {% if records %} 
              {% for record in records %} 
                <tr>
                  <td> {{ record.first_name}} {{ record.last_name}} </td>
                  <td> {{ record.Class }} </td>
                  <td> {{ record.phone_number }} </td>
                  <td> {{ record.address}} </td>
                  <td> {{ record.state}} </td>
                  <td> {{ record.city }} </td>
                  <td> {{ record.created_at }} </td>
                  <td> <a href = {% url 'record' record.id %}>{{ record.id }} </a> </td>
                </tr>
              {% endfor%}
            {% endif %}
        </tbody>
      </table>

    {% else %}
      <h1>Login</h1>
      <form method="post" action="{% url 'home' %}">
        {% csrf_token %}
        <div class="input-box">
          <label>Username</label>
          <input type="text" name="username" placeholder="Username" required />
        </div>
        <div class="input-box">
          <label>Password</label>
          <input type="password" name="password" placeholder="Password" required />
        </div>
        <div class="remember">
          <label>
            <input type="checkbox" /> Remember me?
            <a href="#">Forgot Password</a>
          </label>
        </div>
        <button type="submit">Login</button>
        <div class="register">
          <p>Don't have an account? <a href="#">Register</a></p>
        </div>
      </form>
    {% endif %}
  </div>
{% endblock %}
