{% extends 'base.html' %}
{% block content %}

<div class="update-record-container">
    <h1>Update Record</h1>

    <form method="post" class="update-record-form">
        {% csrf_token %}

        <div class="input-box">
            {{ form.first_name }}
        </div>
        <div class="input-box">
            {{ form.last_name }}
        </div>
        <div class="input-box">
            {{ form.Class }}
        </div>
        <div class="input-box">
            {{ form.phone_number }}
        </div>
        <div class="input-box">
            {{ form.addres }}
        </div>
        <div class="input-box">
            {{ form.city  }}
        </div>
        <div class="input-box">
            {{ form.state }}
        </div>

        <button type="submit" class="button">Update Record</button>
        <a href="{% url 'home' %}" class="button back-btn">Go Back</a>
    </form>
</div>

{% endblock %}
